<!doctype html>
<html lang="en">
  
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Job Application</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ TemplateResources }}/assets/assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="{{ TemplateResources }}/assets/assets/css/line-awesome.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{{ TemplateResources }}/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ TemplateResources }}/assets/skyline/css/skyline.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="../images/favicon.png">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icon-114x114.png">


  </head>