<?php

/**
 * database.php
 *
 * Database Access
 *
 * @category   Job Application
 * @package    Joobi
 * @author     Redwan Aouni <aouniradouan@gmail.com>
 * @copyright  2021 - Joobi
 * @version    1.0.0
 * @since      File available since Release 1.0.0
 */

$DATABASE     =    [

    'default' => 'mysql',

    'connections' => [

        'mysql' => [
            'driver' => 'mysql',
            'url' => null,
            'dsn' => 'mysql:host=127.0.0.1;dbname=wallet',
            'host' => '127.0.0.1',
            'port' => '3306',
            'database' => 'localhost',
            'username' => 'radouan',
            'password' => 'root'
        ]

    ]


];

$DefaultDriver      =   $DATABASE['default'];

$database           =   new Nette\Database\Connection($DATABASE['connections'][$DefaultDriver]['dsn'], $DATABASE['connections'][$DefaultDriver]['username'], $DATABASE['connections'][$DefaultDriver]['password']);


?>